.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.navbar {
  background-color: #E9E2D8 !important;
}.nav-link {
  color: #9F7F54 !important;;  
}.navbar-brand {
  color: #9F7F54 !important;
}
.pro-title{
  color: #9F7F54;
  text-align: center;
  font-size: 5vh;

}
.btn-r {
  background-color: #9F7F54;
  color: #fff !important;
  width:10vw;  
  padding:10px;
}
.navbar-nav{ 
   margin-left: 55vw;
}
.pro-card{
  background-color: #E9E2D8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 450px;
}.pro-card-2{
  background-color: #E9E2D8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 400px;
}
.pro-container{
  /* width:100vw; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}